{% extends 'base.html' %}
{% load static %}


{% block main %}
<main class="main">
    <div class="registeration">
        <div class="container">
            <div class="registeration__content">
                <form class="registeration__form active" method="post" action="{% url 'users:registration' %}">
                    {% csrf_token %}
                    <h2 class="registeration__title products__title">Регистрация</h2>
                    {{ form.as_p }}
                    <div class="registeration__btns">
                        <button class="btn registeration__btn" type="submit">Подтвердить</button>
                        <a href="{% url 'users:login' %}" class="btn registeration__btn">Уже есть аккаунт? </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
