{% extends 'base.html' %}
{% load static %}

{% block categories %}
{% for k in subcategories %}
<li>
    <a href="{% url 'products:filter' k.id %}" class="header__list-links">
        <span class="header__list-img">
            <img src="{{ k.icon.url }}" alt="icons">
        </span>{{ k.name }}
    </a>
</li>
{% endfor %}
{% endblock %}


{% block slider %}
<div class="slider" data-infinity="true">
    <div class="sliderLines">
        <div class="slider__item">
            <img src="{% static 'assets/images/banner-1.png' %}" alt="banner" class="slider__img">
            <div class="slider__item-content">
                <h2 class="slider__item-title">loft мебель</h2>
                <p class="slider__item-descr">
                    Современная и удобная мебель в Анапе
                </p>
                <a href="#!" class="slider__item-button">СМОТРЕТЬ КАТАЛОГ</a>
            </div>
        </div>
        <div class="slider__item">
            <img src="{% static 'assets/images/banner-2.png' %}" alt="banner" class="slider__img">
            <div class="slider__item-content">
                <h2 class="slider__item-title">loft мебель</h2>
                <p class="slider__item-descr">
                    Современная и удобная мебель в Анапе
                </p>
                <a href="#!" class="slider__item-button">СМОТРЕТЬ КАТАЛОГ</a>
            </div>
        </div>
        <div class="slider__item">
            <img src="{% static 'assets/images/banner-3.png' %}" alt="banner" class="slider__img">
            <div class="slider__item-content">
                <h2 class="slider__item-title">loft мебель</h2>
                <p class="slider__item-descr">
                    Современная и удобная мебель в Анапе
                </p>
                <a href="#!" class="slider__item-button">СМОТРЕТЬ КАТАЛОГ</a>
            </div>
        </div>
    </div>
    <div class="slider__btns">
        <button class="btn__prev">
            <img src="{% static 'assets/icons/arrow.svg' %}" alt="arrow">
        </button>
        <button class="btn__next">
            <img src="{% static 'assets/icons/arrow.svg' %}" alt="arrow">
        </button>
    </div>
</div>
{% endblock %}


{% block main %}
<main class="main">
    <div class="container">
        <section class="products">
            <h2 class="products__title">Хиты продаж</h2>
            <div class="products__content">

                {% for product in products %}
                <div class="products__item">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'products:add_favourite' product.id %}" data-id="{{ product.id }}"
                       class="products__item-flex">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                                  stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    {% else %}
                    <a href="{% url 'users:registration' %}" data-id="#"
                       class="products__item-flex">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                                  stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    {% endif %}

                    <a href="{% url 'products:product_info' product.id %}"> <img src="{{ product.main_foto.url }}" alt=""
                                                   class="products__item-img"></a>
                    <div class="products__item-text">
                        <h3 class="products__item-title">{{ product.product_name }}</h3>
                        <div class="products__item-desrc">{{ product.category }}</div>
                        <div class="products__item-price">{{ product.price }} $</div>
                    </div>
                    <!-- /.products__item-text -->
                    <div class="products__item-options products__options">
                        <h4 class="products__options-title">Размеры</h4>
                        <ul class="products__options-list options__list">
                            <li class="options__list-item">
                                <p class="options__list-text">
                                    ДЛИНА
                                </p>
                                <span class="size">{{ product.length}} СМ</span>
                            </li>
                            <li class="options__list-item">
                                <p class="options__list-text">
                                    ШИРИНА
                                </p>
                                <span class="size">{{ product.width }} СМ</span>
                            </li>
                            <li class="options__list-item">
                                <p class="options__list-text">
                                    ВЫСОТА
                                </p>
                                <span class="size">{{ product.height }} СМ</span>
                            </li>
                        </ul>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'products:basket_add' product.id %}" class="options__btn btn">Добавить в корзину</a>
                        {% else %}
                        <a href="{% url 'users:registration' %}" class="options__btn btn">Добавить в корзину</a>
                        {% endif %}
                    </div>
                    <!-- /.products__options -->
                </div>
                {% endfor %}

            </div>
            <!-- /.products__content -->
        </section>
        <!-- /.products -->
    </div>
    <!-- /.container -->
</main>

<style>
    .product__item-flex{
    display: block;
    margin-left: auto;
    }
</style>

{% endblock %}


{% block footer_category %}
{% for i in subcategories %}
<ul class="footer__navigate-list">
    <li><a href="{% url 'products:filter' i.id %}" class="footer__navigate-links">{{ i.name }}</a></li>
</ul>
{% endfor %}
{% endblock %}